/*
* Colors used in design.
*   primary: #0078aa;
*   dark: #363636;
*   light: #fff;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    color: #363636;
}
html {
    scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif; 
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.header {
    background-image: url(../img/header_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
}

.page-logo {
    padding: 0.5rem;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items:  center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.nav-link {
    font-size: 0.8rem;
    font-weight: 700;
    margin-right: 0.5rem;
    color: #363636;
    text-transform: uppercase;
}
.nav-link:hover {
    color: #0078aa;
}
.header_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_header {
   width: 60%;
   padding: 5rem 0 1rem 0;
   text-align: center;
}
.subheader {
    color: gray;
    margin-bottom: 2rem;
    width: 80%;
    text-align: center;
}
.header_icons {
    display: flex;
    justify-content: space-evenly;
}
.hd-icon {
    font-size: 3rem;
    background-color: #0078aa;
    border-radius: 50%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    fill: #fff;
    margin-left: 2rem;
}
.hd-icon:hover {
    fill: #0078aa;
    background-color: #fff;
}
.about_img {
    position: relative;
}
.arrow_up {
    font-size: 3rem;
    background-color: #0078aa;
    border-radius: 50%;
    padding: 0.6rem;
    fill: #fff;
    position: fixed;
    right: 1rem;
    z-index: 1;
}
.wrapper{
    text-align: center;
}
.wrapper_main {
    font-size: 2rem;
}
.wrapper_secondary::before {
    content: '\0027AA';
    margin-right: 0.8rem;
    color: #0078aa;
}
.wrapper_blue {
    color: #0078aa;
    margin-bottom: 1rem;
}
.wrapper_secondary {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.wrapper_descr {
    margin-bottom: 1rem;
}
.help {
    background-image:url(../img/services_bg.jpg);
    margin: 2rem 0;
}
.help_main {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}
.help_par {
    text-align: center;
}
.card {
    background-color:#fff;
    margin: 2rem 1rem;
    padding: 1rem;
}
.card_headind {
    margin: 1rem 0;
}
.offers {
    text-align: center;
}
.offers_card  {
    background-color:#47c9e5;
    margin-bottom: 1rem;
}
.offers_card2 {
    background-color: #fff;
    margin-bottom: 1rem;
    border: 3px solid #0078aa;
}
.list_item2 {
    color: #0078aa;
    margin: 2rem;
}
.offers_treat2 {
    color: #0078aa;
    margin-bottom: 2rem;
}
.offer_name2 {
    font-size: 2rem;
    color: #0078aa;
    padding: 3rem 0 2rem 0;
}
.offer_price2 {
    color: #0078aa;
    font-size: 5rem;
    margin-bottom: 1rem;
}
.offers_heading {
    font-size: 2rem;
}
.offers_subheader {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.offer_name {
    font-size: 2rem;
    color: #fff;
    padding: 3rem 0 2rem 0;
}
.offer_price {
    color: #fff;
    font-size: 5rem;
    margin-bottom: 1rem;
}
.list_item {
    color: #fff;
    margin: 2rem;
}
.offer_btn {
    font-size: 1rem;
    font-weight: 800;
    width: 8.5rem;
    border: 2px solid #0078aa;
    color: #0078aa;
    border-radius: 15px;
    padding: 1rem;
    cursor: pointer;
    margin-bottom: 2rem;
    background-color: #fff;
}
.offers_treat {
    color: #fff;
    margin-bottom: 2rem;
}
.contact {
    text-align: center;
}
.registration {
    display: flex;
    flex-direction: column;
}

.registr {
    height: 2rem;
    padding: 1rem 0.5rem 0.5rem 1em;
    border: none;
    font-style: italic;
    border-bottom: 1px solid grey;
    margin-bottom: 1rem;
}
.submit_btn {
    font-weight: 800;
    width: 6rem;
    height: 3rem;
    border: none;
    color: #fff;
    background-color: #0078aa;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.contact_header {
    margin: 0 auto;
    width: 70%;
    font-size: 2.5rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 0.5rem;
    padding-top: 1rem;
}
.contact_subheader {
    font-size: 1rem;
    font-weight: 500;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 2rem;
}
footer {
    background-color: #363636;
    text-align: center;
    padding: 1rem;
    height: 3rem;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .page-logo {
        margin: 0;
        position: absolute;
        left: 0;
        top: 0;
        cursor: pointer;
    }
    .navbar {
        justify-content: flex-end;
    }
    .nav-link {
        font-size: 1rem;
        padding: 0.5rem;
    }
    .header_heading {
        min-height: 30rem;
        align-items: flex-start;
        justify-content: center;
    }
    .main_header {
        margin: 0;
        max-width: 60%;
        text-align: left;
    }
    .subheader {
        text-align: left;
        width: 60%;
        margin-bottom: 1rem;
    }
    .header_icons {
        justify-content: flex-start;
    }
    .hd-icon {
        margin: 0 1rem 0 0;
    }
    .about {
        display: flex;
        align-items: center;
    }
    .about_img {
        width: 50%;
        height: 50%;
    }
    .arrow_up {
        right: 1%;
        top: 90%;
        cursor: pointer;
    }
    .wrapper {
        width: 50%;
        text-align: left;
    }
    .card {
        width: 28%;
        display: inline-block;  
    }
    .offers {
        background-image: url(../img/pricing_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .offers_card {
        width: 30%;
        display: inline-block;
    }
    .offers_card2 {
        display: inline-block;
        width: 30%;
        padding: 1rem 0;
    }
    .contact {
        display: flex;
        align-items: stretch;
        width: 100%;
    }
    .contact_img {
        width: 50%;
    }
    .contact_wrapper {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
    }
    .contact_header,.contact_subheader {
        margin: 0;
        width: 100%;
        text-align: left;
    }
    .submit_btn {
        margin: 0;
    }
    .registration {
        margin-top: 1rem;
    }
}
@media screen and (min-width: 1280px) {
    .page-logo {
        left: 5rem;
    }
    .nav-menu {
        padding-right: 5rem;
    }
    .nav-link {
        font-size: 1.2rem;
    }
    .header_heading {
        margin-left: 5rem;
        min-height: 40rem;
    }
    .main_header {
        width: 25%;
    }
    .subheader {
        width: 25%;
    }
    .wrapper {
        width: 30%;
    }
    .help {
        padding: 3rem;
    }
    .card {
        width: 30%;
        margin: 1rem;
    }
    .contact_wrapper {
        padding-left: 4rem;
    }
}