body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #21232e;
  color: #fff; }

.landing-logo {
  display: flex;
  font-size: 25px;
  text-align: center;
  position: relative;
  left: 50px; }
  .landing-logo img {
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: -50px;
    top: 30px; }
  .landing-logo span {
    display: block;
    font-size: 15px; }

.header {
  background-image: url(../img/m-h-night.jpg);
  background-size: cover;
  background-position: center;
  border-bottom-right-radius: 20%; }
  .header .header-wrap {
    max-width: 500px;
    margin-left: 100px; }
    .header .header-wrap .header_button {
      background-color: #e3ac00;
      color: #fff;
      border: none;
      width: 150px;
      height: 50px;
      font-size: 15px;
      font-weight: 700;
      border-radius: 5px;
      margin: 50px 50px 120px 0; }
  .header .header_heading, .header .header_heading::after {
    font-size: 50px;
    padding-top: 8px;
    font-weight: 700;
    position: relative;
    z-index: 1; }
    .header .header_heading::after {
      content: 'awesome';
      position: absolute;
      top: 90px;
      left: 0px;
      background-color: #ff4e33;
      line-height: 10px;
      padding-bottom: 20px;
      z-index: -1; }

.login, .section_link {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  font-weight: 500; }

.section {
  width: 1000px;
  margin: 0 auto; }
  .section .section_text {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    position: relative;
    z-index: 1; }
    .section .section_text::after {
      content: "adventure";
      background-color: #ff4e33;
      position: absolute;
      z-index: -1;
      left: 508px; }

.section_card_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; }
  .section_card_wrap .section_card {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 20px;
    background-color: #3b3f50;
    border-radius: 3px; }
  .section_card_wrap .section_card_right_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 410px;
    color: #fff;
    margin: 0 auto; }
  .section_card_wrap .section_card_img {
    flex: 0 0 35%;
    border-radius: 5px; }
  .section_card_wrap .section_card_heading {
    font-size: 25px;
    font-weight: 600; }
  .section_card_wrap .section_card_text {
    font-size: 15px;
    font-weight: 300; }

.section_banner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 1000px;
  height: 100px;
  background: linear-gradient(to right, #DEA505 0%, #963150 100%);
  border-radius: 3px;
  position: relative;
  top: 60px; }
  .section_banner .section_banner_heading {
    font-size: 25px;
    font-weight: 500;
    color: #3b3f50;
    position: relative;
    z-index: 1; }
    .section_banner .section_banner_heading::after {
      content: "start";
      background-color: #ff4e33;
      position: absolute;
      left: 95px; }
  .section_banner .section_banner_text {
    font-size: 15px;
    color: #fff;
    margin: 0 0 25px 0; }
  .section_banner .section_banner_button {
    background-color: #e3ac00;
    color: #fff;
    border: none;
    width: 150px;
    height: 50px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px; }

.footer {
  background-color: #3b3f50;
  color: #fff;
  display: block;
  height: 180px; }
  .footer .footer-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 80px; }
  .footer .footer_text {
    width: 320px; }
