// Write your styles here
@mixin button {
    background-color: $button-color;
    color: #fff;
    border: none;
    width: 150px;
    height: 50px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
}

@mixin links {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

@mixin flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: $bg-color;
    color: $text-color;
}

.landing-logo {
    display: flex;
    font-size: 25px;
    text-align: center;
    position: relative;
    left: 50px;

    img {
        width: fit-content;
        height: fit-content;
        position: absolute;
        left: -50px;
        top: 30px;
    }
    span {
        display: block;
        font-size: 15px
    }
}

.header {
    background-image: $bg_img;
    background-size: cover;
    background-position: center;
    border-bottom-right-radius: 20%;
    
    .header-wrap {
        max-width: 500px;
        margin-left: 100px;

        .header_button {
            @include button;
            margin: 50px 50px 120px 0;
        }
    }
    .header_heading {
        font-size: 50px;
        padding-top: 8px;
        font-weight: 700;
        position: relative;
        z-index: 1;

        &::after {
            @extend .header_heading;
            content: 'awesome';
            position: absolute;
            top: 90px;
            left: 0px;
            background-color: map-get($map:$colors, $key:highlight-color);
            line-height: 10px;
            padding-bottom: 20px;
            z-index: -1;
        }
    }
 
} 

.login,.section_link {
    @include links; 
    font-weight: 500;
}

.section {
    width: 1000px;
    margin: 0 auto;

    .section_text {
        font-size: 30px;
        font-weight: 300;
        text-align: center;
        position: relative;
        z-index: 1;
    
        &::after {
            content: "adventure";
            background-color: map-get($map:$colors, $key:highlight-color);
            position: absolute;
            z-index: -1;
            left: 508px;
        }
    }
}

.section_card_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .section_card {
        display: flex;
        flex-direction: row;
        margin: 10px;
        padding: 20px;
        background-color: $main-color;
        border-radius: 3px;
    }

    .section_card_right_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 410px;
        color: #fff;
        margin: 0 auto;
    }

    .section_card_img {
        flex: 0 0 35%;
        border-radius: 5px;
    }

    .section_card_heading {
        font-size: 25px;
        font-weight: 600;
    }

    .section_card_text {
        font-size: 15px;
        font-weight: 300;
    }
}
.section_banner {
    @include flex;
    width: 1000px;
    height: 100px;
    background: $linear;
    border-radius: 3px;
    position: relative;
    top: 60px;

    .section_banner_heading {
        font-size: 25px;
        font-weight: 500;
        color: $main-color;
        position: relative;
        z-index: 1;
    
        &::after {
            content: "start";
            background-color: map-get($map:$colors, $key:highlight-color);
            position: absolute;
            left: 95px;
        }
    }

    .section_banner_text {
        font-size: 15px;
        color: #fff;
        margin: 0 0 25px 0;
    }

    .section_banner_button {
        @include button;
    }
}

.footer {
    background-color: $main-color;
    color: #fff;
    display: block;
    height: 180px;

    .footer-wrap {
        @include flex;
        position: relative;
        top: 80px;
    }

    .footer_text {
        width: 320px;
     }
}

