$bg-color: #fff;
$main-color: #21232e;
$highlight-color: #14a0c7;
$linear: linear-gradient(to right, #679708 0%, #315fcc 100%);
$button-color:#699900;
$text-color: #2c2f3c;
$bg_img: url(../img/m-h-day.jpg);

$colors: (
    main-color: #21232e,
    highlight-color: #14a0c7,
    bg-color: #fff,
);


