$bg-color:#21232e;
$main-color: #3b3f50;
$highlight-color: #ff4e33;
$linear: linear-gradient(to right, #DEA505 0%, #963150 100%);
$button-color: #e3ac00;
$text-color:#fff;
$bg_img: url(../img/m-h-night.jpg);

$colors: (
    main-color: #3b3f50,
    highlight-color: #ff4e33,
    bg-color: #21232e,
);