.message-container {
    border: 1px solid grey;
    border-radius: 20px;
    width: 60vw;
    height: 90vh;
    margin: 0 auto;
    position: relative;
}
.inputForm {
    display: flex;
    margin: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.text-field {
    width: 80%
}
.inputBtn {
    padding: 10px;
    width: 15%;
}