﻿* {
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Ubuntu', sans-serif;
}
.header,.navbar {
    background-image: url(../img/header-bg.jpg);
    background-size: cover;
    margin-bottom: 20px;
}
.navbar-brand {
    font-size: 40px;
    font-weight: 700;
}
.marketing {
    text-align: center;
    padding: 200px 0;
}
.line {
    width: 3%;
    height: 50px;
    border: 0;
    border-top: 3px solid rgba(74,74,74,255);
}
.Name {
    font-size: 50px;
}
.card {
    max-width: 310px;
    border: none;
}
.card-img-top {
    max-width: 130px;
    margin: 0 auto;
}
.touch {
    background-image: url(../img/touch-bg.png);
    background-size: cover;
    border: none;
    height: 40px;
    width: 190px;
    margin: 50px 0;
    color: #fff;
    background-repeat: no-repeat;
}
.img-work {
    width: 95%;
    padding-bottom: 15%;
  }
.wrapper {
    max-width: 80%;
    margin: 0 auto;
}
.img-ref {
    max-width: 100%;
}
.carouselImg {
    background-image: url(../img/references-image-bg.png);
    background-size: cover;
}
#carousel {
    margin: 80px 0;
}
.underline {
    height: 5px;
    width: 8%;
    border-top: 3px solid rgba(74,74,74,255);
    margin-bottom: 50px;
}
.carText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.carouselParag {
    width: 80%;
}
.carousel-indicators {
    margin-top: 80px;
    margin-bottom: 400px;
}
  #contact {
    position: relative;
    background-color: black;
  }
  .contact-form .form-field {
    position: relative;
    margin: 32px 0;
  }
  .contact-form .input-text {
    display: block;
    width: 100%;
    background-color: black;
    height: 36px;
    border-width: 0 0 2px 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
  }
  .contact-form .label {
    position: absolute;
    left: 20px;
    color: #fff;
    bottom: 11px;
    font-size: 12px;
    line-height: 26px;
    font-weight: 400;
    cursor: text;
  }
  .contact-form .submit-btn {
    background-color: #202020;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width:180px;
    cursor: pointer;
  }
  .subbtn {
      left: 40%;
  }
  .Footer {
      background-image: url(../img/footer-bg.jpg);
      display: flex;
      justify-content: space-around;
  }
  .addres {
      width: 60%;
      margin: 0;
  }
  .mail-info::before {
      content: url(../img/footer-mail-icon.png);
      margin-right: 5px;
      position: relative;
      top: 5px;
  }
  .phone-info::before {
    content: url(../img/footer-phone-icon.png);
    margin-right: 5px;
  }
  .copyright {
      font-size: 10px;
      margin: 10px;
  }
  