/* START: Task 1 Styles */
#task1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}
table {
    border-collapse: collapse;
    margin-bottom: 10rem;
  } 
td {
    border: 1px solid #999;
    width: 6rem;
    height: 6rem;
    text-align: center;
  } 
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}
/* END: Task 1 Styles */

/* START: Task 2 Styles */
#task2 {
    text-align: center;
}
.phone_inp {
    width: 300px;
    height: 40px;
    margin-bottom: 200px;
}
.btn_sbn {
    padding: 0.8rem;
    cursor: pointer;
}
.valid {
    display: block;
    background-color: green;
    width: 350px;
    color: #fff;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 0 auto;   
    padding: 0 10px 0 10px;
    margin-bottom: 20px;
}
.invalid {
    display: block;
    background-color: red;
    width: 350px;
    color: #fff;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 0 auto;   
    padding: 0 10px 0 10px;
    margin-bottom: 20px;
}
.hidden {
    display: none;
}

/* END: Task 2 Styles */

/* START: Task 3 Styles */
#task3 {
    display: flex;
    justify-content: center;
}
.container {
    position: relative;
}
#field {
    width: 600px;
    height: 330px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
#ball {
    position: absolute;
    left: 47%;
    top: 44%;
    width: 40px;
    height: 40px;
    transition: all 1s;
  }
/* END: Task 3 Styles */
