.hide {
    display: none;
}
#main {
    margin-top: 10%;
}
.input_form {
    margin: 0 auto;
    border: 1px solid gray;
    width: 1000px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
.input_field {
    width: 96%;
    padding: 0.7rem;
    margin-top: 0.7rem;
    margin-bottom: 10px;
    background-color: #3cbc8d;
    color: #717678;
    border: none;
}
button {
 display: inline;   
 width: fit-content;
 padding: 18px 50px;
 margin-right: 10px;
 background-color: #4caf50;
 color: #fff;
 border: none;
 cursor: pointer;
}
.show {
    display: block;
}