body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: #f4f4f4;
  margin: 0;
  box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #5197ff;
}
ul {
    list-style-type: none;
    margin: 2rem 0;
    padding: 0;
}
li {
    margin-bottom: 0.8rem;
    font-size: 0.9rem;
}
button {
    background-color: #019999;
    color: #fff;
    border: none;
    width: 11rem;
    height: 3rem;
    font-size: 1rem;
    cursor: pointer;
}
button:hover {
    background-color: rgb(118, 205, 216);
}
.right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60%;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    background-color: #fff;
}

.container {
    display: flex;
    height: 20rem;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container:hover {
    color: #76cdd8;
}
.Hover::after {
    display: none;
}
.Hover:hover::after { 
    content: "";
    position: absolute;
    display: block;
    color: #76cdd8;
    right: 0;
    top: 0;
    border-top: 60px solid;
    border-left: 80px solid transparent;
}
.blue {
    background-color: #76cdd8;
}
.second_card {
    font-style: italic;
    padding: 4rem;
    line-height: 2rem;
}
.card_header {
    color: #76cdd8;
    padding: 0 2rem 0 2rem;
    font-weight: 500;
    text-align: left;
}
.third_subhead {
    line-height: 1.5rem;
    padding: 0 2rem 0 2rem;
    font-size: 1rem;
    margin-top: 0;
    font-style: italic;
    text-align: left;
}
.white{
    color: #fff;
    font-size: 0.9rem;
}
.epam {
    font-size: 4rem;
    font-weight: 500;
}
.Fortnite {
    width: 45%;
    height: 70%;
    border-radius: 50%;
    object-fit: cover;
}
.Fortnite:hover {
    transition: .5s ease;
    transform: scale(1.1); 
    cursor: pointer;
}
.nfc {
    width: 100%;
    height: 100%;
    transition: .5s ease;
}
.nfc:hover {
    transform: scale(1.1); 
    cursor: pointer;
}
.last_subh {
    line-height: 1.5rem;
    padding: 0 2rem 0 2rem;
    font-size: 0.9rem;
    margin-top: 0;
}
.Second_section {
    display: flex;
    width: 70%;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.container2 {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0rem 1.5rem;
}
.header {
    color: #76cdd8;
}
.subheader2 {
    font-size: 1rem;
}
.tennis {
    width: 35%;
}
.tennis:hover{
    transition: .5s ease;
    transform: scale(1.1); 
    cursor: pointer;
}
.tennis_btn {
    margin-left: 70%;
}
.section_plan {
    display: flex;
    width: 70%;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.img_plan {
    width: 30%;
    height: auto;
    margin: 1rem;
} 
.img_plan:hover {
    transition: .5s ease;
    transform: scale(1.1); 
    cursor: pointer;
}
.plan_card {
    border: 1px solid #9ed8d8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem;
    width: 30%;
    position: relative;
}
.plan_card:hover {
    box-shadow: 0 0 0 0.2rem #24d4d4;

}
.price {
    margin-top: 0; 
    font-weight: 500;
}
.plan_name {
    font-weight: 500;
    margin-bottom: 0;
}
.option {
    background-color: #019999;
    width: 100%;
    text-align: center;
    color: #fff;
}
.buy_now:hover {
    background: #24d4d4
}
#special:hover:before{
    content: "Special discount";
    position: absolute;
    display: block;
    font-size: 1rem;
    color: #24d4d4;
    bottom: 5%;
    right: 28%;
}
#special:hover:after{ 
    content: "*";
    color: red;
    position: absolute;
    bottom: 5%;
    left: 28%;
}
.form {
    width: 40%;
    height: 300px;
    margin: 0 auto;
    padding: 5rem;
    background-color: #fff;
    z-index: 3;
    margin-top: -5rem;
    position: relative;
}
.application {
    width: 70%;
    background-color: #23d4d4;
    color: #fff;
    font-weight: 300;
    font-size: 1.4rem;
    z-index: 1;
    margin: 0 auto;
}
.app {
    padding: 2rem 10rem 4rem 9rem;
}
input{
    display: flex;
    width: 45%;
    height: 2.5rem;
    padding-left: 1rem;
    margin: 1rem 2rem 0.5rem 0;
    border: 1px solid grey;
}
#salary,#position {
    display: flex;
    color: grey;
    padding-left: 1rem;
    width: 48%;
    height: 3rem;
    margin: 1rem 0 0.5rem 0;
    border: 1px solid grey;
}
#Massage {
    font-size: 1.2rem;
    position: relative;
    padding: 1rem;
    width: 45%;
    height: 45%;
    margin: 1rem;
    left: 50%;
    bottom: 19.5rem;
    border: 1px solid grey;
}
.submit {
    display: flex;
    align-items: center;
    width: 9rem;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2rem;
}
.location {
    width: 70%;
    margin: 0 auto;
    margin-top: -4rem;   
    height: 13rem;
    background-color: #019999;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    font-size: 1rem;
    align-items: flex-end;
    z-index: -1;
}
.lorem {
    width: 10rem;  
}
footer {
    display: flex;
    justify-content: center;
    color: grey;
}
