@media print {
  body {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }

  #about,
  #ideas,
  #contact {
    display: none;
  }
  .tm-sidebar,
  .heading,
  .blocks,
  .img-fluid {
    display: none;
  }

  .container {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .flex-2-col {
    display: flex;
  }
  .padding-medium {
    display: flex;
    flex-direction: column;
    padding: 0;
    max-width: fit-content;
  }
  .flex-item {
    display: flex;
    align-items: center;
  }

  h2.tm-section-title {
    color: blue;
    position: relative;
    right: 40px;
  }
  p::first-letter {
    color: #87cefa;
    font-size: 30px;
  }
  p {
    font-style: italic;
  }
  .tm-section-description {
    text-indent: 20px;
  }
}

@media screen {
  p::first-letter {
    color: #87cefa;
    font-size: 30px;
  }
  
  .padding-medium {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  .flex-2-col {
    display: flex;
  }
  .tm-content-box::before,
  .padding-medium::after {
    content: "";
    position: absolute;
    color: #87cefa;
    left: 0;
    top: 0;
    border-top: 35px solid;
    border-right: 250px solid transparent;
  }

  .tm-box-bg-title:hover {
    background-color: #87cefa;
    color: #fff;
  }
  
  .tm-main-nav,
  .tm-content-box {
    box-shadow: 0 0 8px 2px gray;
  }
  .tm-banner {
    border: 1px groove lightgrey;
  }
  .tm-section-description {
    text-indent: 20px;
    line-height: 30px;
  }

  .carousel-content h2:nth-child(1) {
    color: gainsboro;
    letter-spacing: 5px;
  }
  h2 + p {
    font-style: italic;
  }
  a:visited {
    color: black;
    text-decoration: underline;
  }
  a:hover {
    color: #87cefa;
    text-decoration-line: underline;
    text-decoration-style: double;
  }
  li {
    position: relative;
  }
  .text:after {
    content: "New";
    color: red;
    font-size: 10px;
    position: absolute;
  }

  .box-work {
    padding: 10px;
  }

  .box:nth-child(2n) {
    background-color: #f5f5f5;
  }

  .box p::first-letter {
    color: black;
  }
  .mandatory-field::after {
    content: "*";
    color: red;
  }

  .btn {
    border-radius: 0;
    border: 1px solid #87cefa;
    background-color: #fff;
    color: #87cefa;
    font-size: medium;
    font-weight: 400;
    height: 50px;
    left: 880px;
    position: relative;
    width: 150px;
  }
  .btn:hover {
    background-color: #87cefa;
    border: none;
    color: #fff;
  }
  .tm-nav-item:hover {
    background-color: #f5f5f5;;
  }
}
