.kalkulator
{
        background: #57BDB1;
        width:320px;
        height:400px;
        margin-top:100px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
 
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 30px;
        padding-right: 30px;
}
 
.total{
        width:310px;
        height:60px;
        text-align: right;
        color:brown;
        font-size: 55px;
        padding-right:10px;
}
 

 
.buttons button{
        width:65px;
        height: 60px;
        float:left;
        margin:10px;
        background: #888888;
        color:white;
        text-align: center;
        font-size: 35px;
        line-height: 2em;
        font-weight: bold;
        cursor: pointer;
}
 
.kalkulator-body{
        width:350px;
        position: relative;
        top:25px;
        right:8px;
}
  
#delete{
        background: pink;
 
}