* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.header {
    background-image: url(../img/apples.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: #fff;
    margin-bottom: 5rem;
}
.nav-logo {
    color: #fff;
    letter-spacing: 0.3rem;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items:  center;
    padding: 3rem 3.5rem;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item {
    margin-left: 3em;
}
.nav-link {
    font-size: 1rem;
    font-weight: 200;
    color: #fff;
}
.header_heading {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 70vh;
    line-height: 3rem;
}
.main_header {
    letter-spacing: 0.3rem;
    font-weight: 300;
}
.subheader {
    margin-bottom: 5rem;
}
span {
    font-size: 4rem;
}
.btn {
    width: 13rem;
    height: 3rem;
    background-color: rgba(52, 54, 56, 0.8);
    color: #fff;
    font-size: 1rem;
    border: 3px solid #fff;  
    position: relative;
    top: 3rem;
    cursor: pointer;
}
.lorem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    max-width: 100%;
}
.main-lorem {
    max-width: 25%;
    margin-right: 13rem;
}
.sublorem {
    max-width: 35%;
    font-size: 0.8rem;
}
.article {
    background-color: #E8E8E8;
    padding: 2rem;
}
.heading {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 8rem 0 5rem 0;
}
.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 1rem;
}
.container img {
    max-width: 100%;
}
.descr {
    max-width: 40%;
    margin: 0 1rem;
}
.shadow {
    position: relative;
    
}
.shadow::before {
    box-shadow: inset 3px 3px 100px 0 #000000;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.shadow::after {
    content: "172 \2665";
    position: absolute;
    right: 0;
    margin: 1rem;
    padding: 0.5rem;
    border: 2px solid #fff;
    background-color: #343638;
    color: #fff;
}

.img-text {
    position: absolute;
    bottom: 0;
    left: 1px;
    padding: 1rem;
    color: #fff;
}
.subscr {
    height: 3rem;
    width: 6rem;
    background-color: #343638;
    color: #fff;
    display: inline;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
}
form {
    display: flex;
}
.outer {
    width: 90vw;
    height: 8rem;
    margin: 3rem auto;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    background-color: #fff;
    position: relative;
  }

  .labelClass {
      min-width: fit-content;
      padding: 0 1rem;
  }

  .input {
    width: 90%;
    height: 3rem;
    padding-left: 1rem;
    background-color: #F3F3F3;
  }
  #input3 {
    display: flex;
    flex-direction: column;
    width: 75vw;
  }
  .wraper {
      display: flex;
      padding: 7rem 0;
      justify-content: space-around;
  }
  .contain1 {
      width: 18rem;
      margin: 0 1rem 0 2rem;
  }
 .contain1 p {
      font-size: 0.9rem;
      color: #A4A4A4;
      margin-bottom: 1rem;
  }
  .contain2 {
      width: 10rem;
      margin-left: 2rem;
      margin-right: 7rem;
  }
  .contain2 p {
    font-size: 0.8rem;
    color: #A4A4A4;
  }
  .footer_email {
    height: 2rem;
    background-color: #F3F3F3;
    max-width: fit-content;
    padding-left: 0.5rem;
    color: #343638; 
  }
  .sbr {
    height: 2rem;
    width: 5rem;
    background-color: #343638;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .footer_head {
      margin-bottom: 1rem;
  }
  .footer_copy {
      position: absolute;
      padding: 1rem;
      color: #A4A4A4;
  }
 .footer_list {
     display: flex;
     justify-content: flex-end;
 }
 .footer_list li {
     padding: 1rem 1rem;
     font-size: 0.9rem;
 }
 