:root {
  --primary-color: #f2c744;
  --light: #f4f6f9;
  --dark: #000;
  --primary-font: 'Shadows Into Light', cursive;
  --secondary-font: 'Dancing Script', cursive;
}
body {
    margin: 0;
}
* {
    margin: 0;
    background-color: #f4f6f9;
}
.container {
    height: 100vh;
    font-size: 20px;
    font-weight: 500;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.container > div {
    padding: 10px;
    border: 1px solid #dee0e3;
    box-shadow: 0 0 10px rgba(222, 224, 227, 1);
}
.header {
    grid-column-start: 1;
    grid-column-end: -1;  
    text-align: center;
}
.Logo {
    max-height: 100px;
    object-fit: cover;
    max-width: 80px;
}
.name {
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--secondary-font);
}
.proffesion {
    font-family: var(--primary-font);
}
.gallery {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}
.gallery > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: none;
    padding: 0;
}
.gallery .wide {
    grid-column: span 2;
  }
.gallery .tall {
    grid-row: span 2;
}
.portfolio {
    text-align: center;
    height: fit-content;
    width: 440px;
    right: 10px;
    top: 175px;
    position: fixed;
}
.profile {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.job {
    font-family: var(--primary-font);
}
.descr {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: var(--primary-font);
}
.icon {
    color: black;
}
.footer {
    grid-column: 1 / span 3;
    text-align: center;
}
.footername {
    font-size: 18px;
    font-weight: bold;
    font-family: var(--secondary-font);
}
.footerprof {
    font-size: 15px;
    font-family: var(--primary-font);
}
.copyright {
    font-size: 18px;
    font-family: var(--primary-font);
}

@media screen and (max-width: 1024px) {
    .header {
        order: -2;
    }
    .portfolio {
        grid-column: 1 / -1;
        position: static;
        width: auto;
        order: -1;
    }
    .gallery {
        grid-column: 1 / -1;
    }  
  }