/*Your code goes here*/
.navbar-brand {
    font-size: 2rem;
    font-weight: 500;
}
.nav-item {
    font-weight: 500
}
.card-title {
    font-size: 1rem;
}
.card-text {
    font-size: 0.9rem;
}
.orange {
    background-color: coral;
}